#stats
{
  display: inline-block; width: 100%; vertical-align: top; max-width: 1200px;
  position: relative;
}

#rightCol
{
  width: 400px; position: absolute; right: 0; top: 0;
}

#leftCol
{
  padding-right: 420px;
}

/* SCORE TABLE */

#skillSets
{
  border: 1px solid #eeeeee;
}
.skillSet
{
  min-height: 70px;
  vertical-align: top;
  border-top: 1px solid #eeeeee;
}
.skillSet > div
{
  display: inline-block;
  padding: 1%;
  vertical-align: top;
}
.skilldesc
{
  font-size: 12px;
}
.skillText {
  width: 70%;
}
.scores {
  width: 26%;
}
.scores > div
{
  width: 50%; display: inline-block; text-align: center; vertical-align: middle; line-height: 45px; font-size: 16px; color: #000;
}

#skillSetsHeader
{
  background: #eeeeee;
  padding: 1% 0 1% 0;
}
#skillSetsHeader > div
{
  display: inline-block;
  padding: 1%;
}
#skillSetsHeader > div.percent,
#skillSetsHeader > div.points
{
  width: 12%;
  text-align: center;
}

#skillSetsHeader > div.skill
{
  width: 70%;
}

#skillSetsFooter {
  background: #eeeeee;
}
#skillSetsFooter > div.total
{
  width: 26%;
  text-align: center;
  background: #5198CE;
}
#skillSetsFooter > div.text
{
  background: #555555; color: #FFF;
  width: 70%;
}
#skillSetsFooter > div
{
  padding: 0 1% 0 1%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 16px; color: #FFF;
}

/* CHARTS */


#esaChart {
  width: 400px;
  height: 310px;
  display: block;
}

#speedBar {
  width: 398px; height: 30px;
  border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
  border: 1px solid #555555;
  padding: 1px;
}

.desc
{
  font-size: 10px;
}

#speedBar > span {
  background: #5198CE;
  height: 30px; display: block;
  color: #FFF;
  text-align: right; line-height: 30px;
  padding-right: 4px;
}

.skillComment
{
   padding: 4px 0 4px 0;
   border-bottom: 1px solid #EEE;
}

.skillComment > div
{
 display: inline-block;
 vertical-align: top;
}
.skillComment > div.skill
{
  width: 20%;
  font-size: 12px; color: #333333;
}
.skillComment > div.comment
{
  width: 76%;
  padding: 0 1% 0 24px;
}

.text_bad .comment
{
  background: transparent url("/component/globus/gb_test/resources/pictures/esa_bad.png") no-repeat left 1px;
}

.text_good .comment
{
  background: transparent url("/component/globus/gb_test/resources/pictures/esa_good.png") no-repeat left 1px;
}

/*.text_average .comment
{
}*/

#esaRecommandations .title .h4
{
  font-weight: bold;
}