RewriteEngine on
#RewriteCond %{HTTP_HOST} !^slistem\.slate\.co\.jp [NC]
#RewriteCond %{HTTP_HOST} !^slystem\.devserv.com [NC]
#RewriteCond %{HTTP_HOST} !^stephane\.slate\.co\.jp [NC]
#RewriteCond %{HTTP_HOST} !^squirrel\.slate\.co\.jp [NC]
#RewriteCond %{HTTP_HOST} !^altslistem\.slate\.co\.jp [NC]
#RewriteRule (.*) https://slistem.slate.co.jp%{REQUEST_URI} [R=301,L]


RewriteCond %{SERVER_PORT} !=443
RewriteRule (.*) https://%{SERVER_NAME}%{REQUEST_URI}%{REMOTE_ADDR} [R,L]

AuthName "Access restricted. --"
AuthType Basic
AuthUserFile /hdd/www/slistem/.htpasswd
Satisfy Any
order deny,allow
deny from all
require valid-user



# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=-
# -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=- -=-
# mod_rpaf and mod_extract_forwarded are not available yet on RHEL7.
# we do it manually in the VHOST creating a REAL_ADDR variable and use it it tto restrict access
# when mod_extract_forwarded will be back, set it up and return to standard allow from ip/mask

#sample
#SetEnvIf X-Forwarded-For "^111\.222\.33\.*" AllowAccess
#SetEnvIf X-Forwarded-For "^11\.222\.3\.44$" AllowAccess

SetEnvIf REAL_ADDR "^127\.0\.0\.1$" AllowAccess

# aws public ip
SetEnvIf REAL_ADDR "^54\.191\.43\.140$" AllowAccess
SetEnvIf REAL_ADDR "^54\.187\.192\.219$" AllowAccess


# aws private ip
SetEnvIf REAL_ADDR "^172\.31\.29\.60$" AllowAccess
SetEnvIf REAL_ADDR "^172\.31\.29\.61$" AllowAccess

# KHVH servers
SetEnvIf REAL_ADDR "^203\.167\.38\.11$" AllowAccess
SetEnvIf REAL_ADDR "^203\.167\.38\.10$" AllowAccess
SetEnvIf REAL_ADDR "^203\.167\.38\.1$" AllowAccess
SetEnvIf REAL_ADDR "^203\.167\.38\.2$" AllowAccess
SetEnvIf REAL_ADDR "^210\.167\.116\.219$" AllowAccess
SetEnvIf REAL_ADDR "^210\.167\.116\.220$" AllowAccess

# aws LB NOT ALLOWED
#allow from 172.31.28.127

#-> Japan

#BC office
SetEnvIf REAL_ADDR "^183\.77\.248\.83$" AllowAccess

#Slate Akasaka Office
SetEnvIf REAL_ADDR "^118\.243\.81\.245$" AllowAccess

#Slate Akasaka Office
SetEnvIf REAL_ADDR "^118\.243\.81\.246$" AllowAccess

#Slate Aoyaoma Office
SetEnvIf REAL_ADDR "^118\.243\.81\.248$" AllowAccess

#aoyama 3rd floor
SetEnvIf REAL_ADDR "^183\.77\.226\.168$" AllowAccess
SetEnvIf REAL_ADDR "^221\.113\.50\.237$" AllowAccess

## 2011-03-18 dt#td Mitch Moir Home
SetEnvIf REAL_ADDR "^126\.9\.185\.98$" AllowAccess

## 2011-03-18 dt#td Ryoko Kamo Home
SetEnvIf REAL_ADDR "^118\.8\.16\.113$" AllowAccess
SetEnvIf REAL_ADDR "^153\.205\.217\.229$" AllowAccess

## Abegail
SetEnvIf REAL_ADDR "^112\.198\.132\.193$" AllowAccess

## 2014-09-25 dt#td Larry
SetEnvIf REAL_ADDR "^119\.240\.75\.6$" AllowAccess

#-> Canada

## Slate Canada
SetEnvIf REAL_ADDR "^209\.145\.120\.7$" AllowAccess

## 2010-09-30 dt#td  Ray and Pam home
SetEnvIf REAL_ADDR "^69\.176\.172\.6$" AllowAccess

#John Canada
SetEnvIf REAL_ADDR "^69\.176\.163\.134$" AllowAccess

#-> Manila

## 2010-09-30 dt#td  Slate SRC1
SetEnvIf REAL_ADDR "^115\.146\.154\.242$" AllowAccess

## 2010-09-30 dt#td  SRC ALT
SetEnvIf REAL_ADDR "^115\.146\.155\.124$" AllowAccess

## 2010-09-30 dt#td for SRC Manila
SetEnvIf REAL_ADDR "^61\.9\.8\.142$" AllowAccess

## 2010-09-30 dt#td for Slate Global
SetEnvIf REAL_ADDR "^202\.21\.227\.84$" AllowAccess

## 2010-09-30 dt#td for Ryan home
SetEnvIf REAL_ADDR "^218\.103\.34\.37$" AllowAccess

##2010-11-15 dt#td for SRC_11_15
SetEnvIf REAL_ADDR "^202\.138\.130\.186$" AllowAccess

##2010-11-17 dt#td for SCR_11_17
SetEnvIf REAL_ADDR "^202\.138\.130\.185$" AllowAccess

## 2013-02-13 dt#td SRC
SetEnvIf REAL_ADDR "^124\.107\.166\.235$" AllowAccess

## 2013-03-01 dt#td Manila ADSL lines
SetEnvIf REAL_ADDR "^112\.199\.38\.154$" AllowAccess

## 2013-03-27 dt#td Globe Internet SRC
SetEnvIf REAL_ADDR "^203\.177\.171\.150$" AllowAccess

## 2013-06-17 dt#td SRC PLDT ADSL2
SetEnvIf REAL_ADDR "^124\.107\.167\.229$" AllowAccess

## 2013-07-05 dt#td SRC new
SetEnvIf REAL_ADDR "^124\.107\.166\.235$" AllowAccess

## 2014-02-05 dt#td Ryan home
SetEnvIf REAL_ADDR "^118\.21\.0\.196$" AllowAccess

## 2014-04-07 dt#td Manila man3
SetEnvIf REAL_ADDR "^112\.199\.38\.154$" AllowAccess

## 2014-04-15 dt#td Ryan Static
SetEnvIf REAL_ADDR "^122\.249\.125\.253$" AllowAccess

## 2014-07-22 dt#td Ryan again
SetEnvIf REAL_ADDR "^70\.72\.234\.11$" AllowAccess

#-> Hong Kong

# Hong Kong
SetEnvIf REAL_ADDR "^101\.78\.237\.101$" AllowAccess

Allow from env=AllowAccess
