
/* *************************************************** */
/* *************************************************** */
/* Login, and password forms */

.loginWideField
{
  width: 275px;
}
.loginScreenContainer .loginScreenCenter
{
  margin: 0 auto;
}
#loginFormDataId .innerForm .formFieldContainer .formLabel
{
  float:left;
  position:relative;
  color:#333;
  font-size:1.2em;
  width: 130px;
  color: #fff;
  font-weight: bold;
}

#loginFormDataId .innerForm .formFieldContainer .formField
{
   width: 275px;
  float:left;
  margin-left:25px;
  position:relative;
 }


#loginFormDataId .formField
{
  width: 275px;
  margin-left:25px;
  height: 25px;
  position:relative;
}

.ab_tabs_container
{
  border-bottom: 2px solid #bebebe;
}
.ab_tabs_container ul
{
  width:100%;
}
.ab_tabs_list
{
  width: 100%;
  padding: 2px 5px 0 5px;
}

.ab_tabs_container li
{
  margin: 5px 10px;
  padding: 5px 15px 0;

  border-top:1px solid #bebebe;
  border-left:1px solid #bebebe;
  border-right:1px solid #bebebe;

  -webkit-border-top-left-radius: 5px ;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;

  -webkit-border-top-right-radius: 5px ;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.ab_tab_selected
{
  font-size:1.15em;
  font-weight: bold;
  border-bottom: 2px solid #fff;
  background-color: #fff;

}
#userEditFormId div table tr td div div input,
#userCredentialFormId div table tr td div div input,
#userCredentialFormId div table tr td div div input
{
  width: 400px;
}


.cred_tab_selected
{
  font-weight: bold;
}

.cred_tabs_container
{
  border-bottom: 2px solid #BEBEBE;
  margin-bottom: 10px;
}
.cred_tabs_container li {
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
    border-top: 1px solid #BEBEBE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 5px 10px;
    padding: 5px 15px 0;
}

ul.cred_tab_list li a {
    color: #0D79BC;
}
ul.cred_tab_list li a.cred_tab_inactive
{
  color: #bbb;
}
.cred_tab_list
{
    padding: 2px 5px 0;
    width: 100%;
}


#userFormId
{
  width: 800px;
  margin: 0 auto;
}

#userFormId div.formLabel
{
  width: 120px;
  float: left;
  margin: 0 10px 0 0;
  padding: 2px 6px 2px 0;
  text-align: right;
}
#userFormId div.formField
{
  width: 600px;
  float: left;
}

#loginGroupFormId .innerForm .formFieldContainer div.formLabel
{
  width: 120px;
  float: left;
  margin: 0 10px 0 0;
  padding: 2px 6px 2px 0;
  text-align: right;
}
#loginGroupFormId .innerForm .formFieldContainer div.formField
{
  width: 250px;
  float: left;
}

.deleteGroup label
{
  color: #C60F0F;
}

#displayUsers
{
  float: right;
}