.revenue_container
{
	width: 100%;
}
.revenue_chart_header_row,
.revenue_chart_footer_row
{
	background-color: #48768F;
	text-align: center;
	border-bottom: 1px solid #D4DADF;
	overflow: auto;
	color: white;
}
.revenue_chart_row
{
	font-weight: bold;
	font-size: 18px;
	overflow: auto;
}
.revenue_chart_row:hover
{
	background-color: #F9E3B3;
}
.revenue_chart_row div
{
	font-weight: bold;
	font-size: 18px;
}
.revenue_chart_header_row div,
.revenue_chart_footer_row div
{
	font-weight: bold;
	font-size: 18px;
}
.revenue_chart_title
{
	color: inherit;
	border-bottom: 1px solid #D4DADF;
}
.revenue_chart_cell_title
{
	text-align: left;
	color: inherit;
	float: left;
	border-right: 1px solid #D4DADF;
	padding: 5px 0;
}
.revenue_chart_cell_footer
{
	float: left;
	border-right: 1px solid #D4DADF;
	color: inherit;
	padding: 5px 0;
}
.revenue_chart_cell
{
	float: left;
	border-right: 1px solid #D4DADF;
	text-align: center;
	padding: 5px 0 0;
	height: 40px;
	line-height: 30px;
}
.rank_column, .placed_column
{
	width: 8%;
}
.name_column
{
	width: 23%;
}
.flag_column
{
	width: 7%;
}
.amount_column
{
	width: 18%;
}
.total_text_column
{
	width: 38%;
	padding-left: 2px;
}
.team_column
{
	width: 17%;
}
.remove_border
{
	border: none;
}
.text_padding_left_5
{
	padding-left: 5px;
	color: inherit;
}
.text_padding_right_5
{
	padding-right: 5px;
	color: inherit;
}
.even_row
{
	background-color: #E3E9EF;
}
.align_text_right
{
	text-align: right;
}