.revenue_table
{
	width: 100%;
	border-collapse: collapse;
	font-weight: bold;
}
.revenue_table th
{
	background-color: #48768F;
	border-bottom: 1px solid #D4DADF;
	overflow: auto;
	color: white;
}
.revenue_table td,
.revenue_table th
{
	font-size: 18px;
	border-right: 1px solid #D4DADF;
	padding: 0 5px;
}
.hover_row:hover
{
	background-color: #F9E3B3;
}
.revenue_table_footer
{
	background-color: #48768F;
}
.revenue_table_footer td
{
	color: white;
}
.border_left
{
	border-left: 1px solid #D4DADF;
}
.even_row
{
	background-color: #E3E9EF;
}
.text_left
{
	text-align: left;
}
.text_right
{
	text-align: right;
}
.text_center
{
	text-align: center;
}
@media (min-width: 1000px)
{
    .revenue_table td,
	.revenue_table th
	{
		font-size: 25px;
	}
}

@media (min-width: 1900px)
{
    .revenue_table td,
	.revenue_table th
	{
		font-size: 42px;
		line-height: 1.1;
	}
}