/*
    Document   : tabs.css
    Created on : Mar 11, 2013, 11:47:02 AM
    Author     : root
    Description:
        Styles for the tab module
*/

root {
  display: block;
}

/* ---------------------
  GENERIC VALUES
 --------------------- */

div.tabs .contents > div { display: none; }
div.tabs .contents > div.selected { display: block; }

div.tabs ul.links > li:not(.selected):hover { cursor: pointer; }

div.tabs ul.links { z-index: 2; }
div.tabs .contents { z-index: 1; }

/* ---------------------
  VERTICAL STYLE
 --------------------- */

div.tabs.vertical > .contents {
  background-color: #FFF;
  float: left;
  width:85%;
}

div.tabs.vertical > .contents > div
{
  margin: 0 15px 15px 15px;
}

div.tabs.vertical
{
  position:relative;
}

div.tabs.vertical > ul.links
{
  width: 15%;
  display: block;
  float: left;
}

div.tabs.vertical > ul.links > li
{
  display: block;
  height: 18px;
  text-align: center;
  padding: 8px 20px 5px 20px;
  color:#8D8D8D;
  font-size: 12px;
  text-align: center;
}

div.tabs.vertical > ul.links > li.selected
{
  background-color: #FFF;
  color:#45A6D3;
}

/* ---------------------
  INLINE STYLE
 --------------------- */

div.tabs.inline > .contents > div
{
  background-color: #f0f0f0;
  margin: 0;
  padding: 10px;
  border: 1px solid #CFCFCF;
  -webkit-border-radius: 2px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 2px;
  -moz-border-radius-topleft: 0;
  border-radius: 2px;
  border-top-left-radius: 0;
}

div.tabs.inline > ul.links > li
{
  display: inline-block;
  height: 20px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  border: 1px solid #E3E3E3;
  border-bottom: none;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color:#8D8D8D;
  font-size: 14px;
}

div.tabs.inline > ul.links > li.selected {
  background-color: #F4F4F4;
  border: 1px solid #CFCFCF;
  border-bottom: 1px solid #F4F4F4;
  margin-bottom: -1px;
  color:#45A6D3;
}

div.tabs > ul.links > li i { color:#8D8D8D; font-size: 14px; }
div.tabs > ul.links > li:not(.selected):hover { color:#45A6D3; }
