/*
    Document   : widescreen
    Created on : Apr 30, 2013, 6:12:22 PM
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/

div, span, a
{
  color: #0A246A;
}

#menunavleft + #componentContainerId,
#menuactleft + #componentContainerId,
#menunavright + #componentContainerId,
#menuactright + #componentContainerId
{
  /* width: 93.5%; BCM */
  width: 1400px; /* Slistem */
}


div#componentContainerId,
div#componentContainerId div.componentMainContainer
{
  width: 1390px;
}

li.tplListRowContainer div.tplListRow div,
li.tplListRowContainer div.tplListRow div a
{
  font-size: 110%;
}



/*******************************************************************************/
/*******************************************************************************/
/* slistem specific wide css */


/* menu wider and higher sections */
#menunavleft > ul, #menunavright > ul, #menuactleft > ul, #menuactright > ul,
#menunavleft, #menunavright, #menuactleft, #menuactright,
#menuactleft > ul > li.section_tab
{
  width:235px;
}


#menuactleft > ul > li > div.menuActionMenuContainer
{
    width: 230px;
}
.menu_workspace, .menu_folder, .menu_pipeline
{
    width: 230px;
}

li.section_tab div div
{
  width: 180px;
}


div.candiTopSectRight
{
  width: 845px;
}

div.candiTabsContent > div
{
  width: 800px;
}

