body
{
  background-color: #96d0de;
  overflow: hidden;
}

#headerId
{
  display: none;
}


.userBloc img
{
  height: 43px;
  width: 168px;
}

#menuNavContainerId ul li div
{
  width: 130px;
  height: 40px;
}

#menuNavContainerId ul li div
{
  height: 40px;
}

ul.menuNavList
{
  height: 44px;
}

#menuNavContainerId ul li div a,
#menuNavContainerId ul li div a img
{
  font-size: 15px;
  position: relative;
  z-index: 102;
  color: #A74329;
  text-decoration: none;
  width: 130px;
  max-width: 130px;
}

#menuNavContainerId ul li div span.menuNavLegend a
{
  color: #999999;
  font-family: serif;
  font-size: 10px;
  font-style: italic;
}
#menuNavContainerId
{
  height: 45px;
  border-bottom: 1px solid #999;
}


div #menuNavContainerId ul li ul
{
  top: 39px;
}


.firstMenuContainer
{
  float: none;
  width: 1000px;
  margin: 0 auto;
}

/************************************************ */
/************************************************ */
/* Tips */

.containerUnlogged .notice
{
  display: none;
}

div.loginScreenBottom
{
  min-height: 130px;
  margin: 0 auto 10px;
  width: 600px;
}

.tipContainer
{
  border: 1px solid #A0410D;
  color: #576975;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 11pt;
  font-weight: bold;
  margin: 50px 0 0 0;
  padding: 15px;
  text-align: justify;
  background-color: #fff;

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.tipContainer div.text3
{
  color: #A0410D;
  font-weight: normal;
  margin-top: 4px;
}

#loginFormDataId .innerForm .formFieldContainer .formField
{
  margin-left: 16px;
}

#loginFormId form div.formFieldLinebreaker
{
  height: 1px;
}
#loginFormId form div.submitBtnClass
{
  padding-top: 0px;
}



#gallery
{
  width: 595px;
  height: 75px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #A74329;
}
.homeGallery
{
  padding: 5px;
  float: left;
  background-color: #fff;


  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.homeGallery li
{
  float: left;
  width: 65px;
  height: 65px;
}
.homeGallery li a
{
  display: block;
}

.homeGallery li img
{
  width: 60px;
  height: 65px;
}

.galleryZoomed
{
  position: absolute;
  z-index: 50000;
  border: 2px solid #A74329;
  background-color: #000;
}
.galleryZoomed img
{
  max-height: 650px;
  max-width: 700px;
}



.homeRequirements
{
  position: fixed;
  width: 100%;
  bottom: 0;
  left:0;
  text-align: center;
  font-size: 12px;
  color: #555;
}


#loginFormId form
{
  border: 0;

  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;

  box-shadow: 1px 1px 4px #c9c9c9;
  -moz-box-shadow: 1px 1px 4px #c9c9c9;
  -webkit-box-shadow: 1px 1px 4px #c9c9c9;
}

#loginFormId form .innerForm .formFieldContainer div.formLabel
{
  background-color: #CC7161;

  color: #FFFFFF;
  padding: 2px 7px 2px 0;
  text-align: right;
  font-weight: normal;
  font-size: inherit;
  width: 90px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

#loginFormId form .submitBtnClass
{
  margin-top: 10px;
}

#loginFormDataId
{
  padding:20px;
}
#loginFormId
{
  width: 600px;
  margin: 0 auto;
  float: none;
}


#loginFormId form div,
#loginFormId form div a
{
  color: #333;
}

#loginFormId form > div.innerForm
{
   margin: 5px auto;
   width: 400px;
}


.loginScreenContainer
{
  /*background-color: #FFFFFF;*/
  background: #fff url('/common/pictures/slistem/bg_s.png') no-repeat center -20px;
  margin: 8% auto 0;
  padding: 10px 50px;
  width: 750px;
  border: 1px solid #999999;

  border-radius: 226px 8px 120px 8px;
  -moz-border-radius: 226px 8px 120px 8px;
  -webkit-border-radius: 226px 8px 120px 8px;
}

#missingPwdLink a
{
  color: #A74329;
  padding: 3px 0 0 5px;
}


.loginScreenContent
{
  margin: 0 0 10px 0;
  color: #2380A8;
  text-align: center;
}
.loginScreenTop
{
  width: 600px;
  height: 80px;
  overflow: hidden;
  margin: 45px auto;
}

.loginScreenLeft,
.loginScreenCenter,
.loginScreenRight
{
  float: left;
}