/*@font-face
{
  font-family: 'expressway';
  src: url('/common/style/font/expressway.ttf');
}

@font-face
{
  font-family: 'pakenham';
  src: url('/common/style/font/pakenham.ttf');
}
@font-face
{
  font-family: 'aller';
  src: url('/common/style/font/Aller_Std_Lt.ttf');
}
@font-face
{
  font-family: 'alte';
  src: url('/common/style/font/AlteHaasGroteskRegular.ttf');
}
@font-face
{
  font-family: 'average';
  src: url('/common/style/font/AverageSans-Regular.ttf');
}

@font-face
{
  font-family: 'source';
  src: url('/common/style/font/SourceSansPro-Regular.ttf');
}
@font-face
{
  font-family: 'pt';
  src: url('/common/style/font/PTS55F.ttf');
}
@font-face
{
  font-family: 'pontano';
  src: url('/common/style/font/PontanoSans-Regular.ttf');
}
@font-face
{
  font-family: 'noto';
  src: url('/common/style/font/NotoSans-Regular.ttf');
}
@font-face
{
  font-family: 'nobile';
  src: url('/common/style/font/nobile.ttf');
}
@font-face
{
  font-family: 'liberation';
  src: url('/common/style/font/LiberationSans-Regular.ttf');
}
@font-face
{
  font-family: 'legendum';
  src: url('/common/style/font/Legendum.ttf');
}
@font-face
{
  font-family: 'gudea';
  src: url('/common/style/font/Gudea-Regular.ttf');
}
@font-face
{
  font-family: 'fira';
  src: url('/common/style/font/FiraSans-Light.ttf');
}
@font-face
{
  font-family: 'droid';
  src: url('/common/style/font/DroidSans.ttf');
}
@font-face
{
  font-family: 'cabin';
  src: url('/common/style/font/Cabin-Regular-TTF.ttf');
}
@font-face
{
  font-family: 'allerstd';
  src: url('/common/style/font/Aller_Std_Rg.ttf');
}
*/

@font-face
{
  font-family: 'source';
  src: url('/common/style/font/SourceSansPro-Regular.ttf');
}
@font-face
{
  font-family: 'fira';
  src: url('/common/style/font/FiraSans-Light.ttf');
}

body
{
  font-family: source,fira, "Myriad pro";
  font-size: 12px;
  background: transparent;
  overflow-x: hidden;
}
.h1
{
  font-size: 18px;
  color: #077AC1;
}

a.user_system
{
  color: #C12413;
}

div.actionButtonPic li.select2-result,
div.actionButtonPic div.select2-container
{
  background-image: none;
}

#componentContainerId
{
  margin: 0 0 0 195px;
}

div#headerId
{
  background: transparent;
  height: 28px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  margin: 0;
  z-index: 50000;
  padding: 0;
}
ul.menuNavList
{
  border-bottom: 0;
  float: left;
  height: 29px;
  width: 100%;
  padding-left: 60px;
  z-index:100;
}


div#menunavtop ul li
{
  margin: 0;
  padding: 0 1px 0 0;
  height: 28px;
}

div#menunavtop > ul > li:hover
{
  background-color: #f0f0f0;
}
div#menunavtop ul li > div
{
  border-right: 0;
  height: 32px;
  line-height: 27px;
}

div#menunavtop ul.subMenu
{
  min-width: 190px;
  left: -5px;
  top: 30px;
}
div#menunavtop ul.subMenu li
{
  margin: 5px 8px;
}
div#menunavtop ul.subMenu li img
{
  margin: 0px 5px -5px 0;
}

ul.menuNavList  a
{
  font-size: 13px;
  font-family: "verdana";
  color: #822B20;
}
#menunavtop .mainMenuPic
{
  margin: 0 8px;
  padding: 0;
}
div#menunavtop ul li img
{
  width: 28px;
  height: 28px;
  float: left;
  margin-left: 5px;
}

#topPageSection
{
  height: 350px;
  border: 1px solid #777;
}

#userPannel
{
  margin-right: 10px;
  width: 190px;
  text-align: right;
  line-height: 14px;
  overflow: hidden;
}
#userPannel select
{
  height: 14px; font-size: 9px;
}
#userPannel span
{
  display: block;
}

#userPannel div.logoutLink
{
  display: none;
}

#folderslink
{
  display: none;
}

/* ********************************************************** */
/* ********************************************************** */
/* Forms
/* ********************************************************** */
/* ********************************************************** */
form.fullPageForm
{
  width: 100%;
  max-width: 800px;
}

.formFieldContainer
{
    margin: 5px 0;
}

div.formLabel
{
  float: left;
  width: 125px;
  text-align: right;
  margin-right: 10px;
}

div.formField
{
  float: left;
  width: 525px;
}

/*always a bit wider than the fields datepicker icons .. */
div.formField input[type=text],
div.formField input[type=file],
div.formField input[type=password],
div.formField textarea,
div.formField table.mceLayout
{
  width: 500px;
  min-width: 500px;
}

div.formField select
{
  min-width: 250px;
}


/* ******************************** */
/* Search form */

#search-form-container form
{
  border: 1px solid #ddd;
}
#search-form-container form div.formFieldContainer div.formField
{
  width: 100%;
  min-width: 100%;
}
#search-form-container form div.formFieldContainer div.formField input,
#search-form-container form div.formFieldContainer div.formField ol
{
  width: 90%;
  min-width: 90%;
}

div#search-results-container
{
  min-width: 600px;
}


div.token-input-dropdown-mac ul li.token-input-dropdown-item-mac b,
div.token-input-dropdown-mac ul li.token-input-dropdown-item2-mac b
{
  color: orange;
}

.home_item_container
{
  margin: 10px auto 0 auto;
}


div.graph_bloc,
div.history_bloc
{
  height: 495px;
  margin: 10px auto;
  padding: 0;
  width: 460px;
  float: left;
  border: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
}
.small_slider div.graph_bloc
{
  max-height: 255px;
}

div.graph_bloc a,
div.history_bloc a
{
  font-size: 12px;
}

.home_item_section
{
  line-height: 20px;
  display: block;
  margin: 10px 0 3px;
  font-size: 12.5px;
  font-weight: bolder;
  background-color: #fff;
  border-left: 65px solid #ebebeb;
  padding-left: 8px;
  color: #595959
}

div.home_item_container > div.graph_bloc
{
  height: 270px;
}
div.home_item_container.home_reminder > div.history_bloc
{
  height: auto;
  min-height: 50px;
  padding-bottom: 15px;
  width: 470px;
  box-shadow: 2px 2px 11px #ddd;
}

.home_item_title
{
  font-size: 14px;
  line-height: 22px;
  color: #077AC1;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  padding-left: 5px;

  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)) repeat scroll 0 0 / 10px 10px #EBEBEB;
}

.home_history_container div.title
{
  margin-bottom: 15px;
}


/**********************************/
/* previous blocs set in "sliders"*/

.slider_mode
{
  width: 470px;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 11px #ddd;
}
.slider_mode_inner
{
  width: 470px;
  height: 550px;
  overflow: hidden;
}
.slider_mode_inner > div
{
  float: none;
}

.slider_mode .slider_mode_top,
.slider_mode .slider_mode_bottom
{
  float: left;
  width: 470px;
  overflow: hidden;
  height: 20px;
  cursor: pointer;
  background-color: #ececec;
}
.slider_mode_top
{
  background: #fff url('/media/picture/slistem/arrow_top.png') no-repeat top center;
  border-bottom: 1px solid #ddd;
}
.slider_mode_bottom
{
  background: #fff url('/media/picture/slistem/arrow_bottom.png') no-repeat top center;
  border-top: 1px solid #ddd;
}
.slider_mode .slider_mode_top:hover,
.slider_mode .slider_mode_bottom:hover
{
  background-color: #f0f0f0;
  border-color: #999;
}


.stripe_bg
{
  background-color: #86ADC9;
  /*background-image: -webkit-gradient(linear, 0 0, 100% 100%,
  color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
  color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
  color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
  to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  */
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);

  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  background-size: 10px 10px;
}
.stripe_bg.high_contrast
{
  background-color: #86ADC9;
  /*background-image: -webkit-gradient(linear, 0 0, 100% 100%,
  color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
  color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
  color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
  to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
  transparent 75%, transparent);
  */
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, .35) 25%, transparent 25%,
  transparent 50%, rgba(255, 255, 255, .35) 50%, rgba(255, 255, 255, .35) 75%,
  transparent 75%, transparent);

  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  background-size: 10px 10px;
}


.bottomCandidateSection li.tplListHeaderContainer
{
  background-color: transparent;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)) repeat scroll 0 0 / 10px 10px #E6E6E6;
}

li.tplListRowContainer div.tplListRow div.tplCandi_title,
li.tplListRowContainer div.tplListRow div:last-child
{
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}


.home_item_row
{
  max-width: 100%;
  height: 24px;
  line-height: 24px;
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 5px;
}
.home_item_row:nth-child(odd)
{
  background-color: #f8f8f8;
}

.home_item_row span
{
  display: block;
  float: left;
  min-width: 70px;
  /*font-weight: bold;
  color: #555;*/
}
.home_item_row a
{
  padding-left: 5px;
  display: block;
  float: left;
}

.home_naggy
{
  display: inline-block;
  width: 370px;
  background: transparent url("/component/notification/resources/pictures/naggy_1.png") no-repeat no-repeat right 4px;
  background-size: 16px 16px;
}


.obj-container
{
  border: 1px solid #666;
  width: 400px;
  margin: 25px auto 0 auto;
}

.obj-container .obj-row
{
  position: relative;
  height: 25px;
  border-bottom: 1px solid #999;
  width: 398px;
}
.obj-container .obj-row:last-child
{
  border-bottom: 0;
}
.obj-container .obj-row div
{
  float: left;
  border-left: 1px solid #999;
  text-align: center;
  width: 98.7px;
  line-height: 25px;
  height: 25px;
  font-size: 13px;
}
.obj-container .obj-row.obj-header div
{
  font-size: 14.5px;
  font-style: italic;
  color: #333;
  background-color: #f0f0f0;
}

.obj-container .obj-row div.obj-desc
{
  border-left: 0;
  font-size: 14.5px;
  font-style: italic;
  color: #333;
  background-color: #f0f0f0;
}

.portal-legend
{
  margin: 20px 0 0 20px;
  width: 400px;
}

.obj-good
{
  /*background-color: #EEFFE8;*/
  color: green;
}
.obj-average
{
  background-color: #FDFFE8;
  background: linear-gradient(-45deg, rgba(200, 200, 200, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(200, 200, 200, 0.2) 50%, rgba(200, 200, 200, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)) repeat scroll 0 0 / 10px 10px #FDFFE8;
}
.obj-bad
{
  color: red;
  font-weight: bold;
  background-color: #FFE5E5;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)) repeat scroll 0 0 / 10px 10px #ffe5e5;
}